.Contact {
  color: #f4a261;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
}

.contacts h1 {
  font-size: 50px;
  padding-bottom: 10px;
}

/* Media Query */
@media screen and (max-width: 535px) {
  .Contact {
    position: relative;
    margin: 20px;
    top: 80px;
  }
}

@media screen and (min-width: 720px) {
}
@media screen and (min-width: 1200px) {
}
